
/* //////////////
   Variables
//////////////*/

:root {
    --primaryColourPage:#C4C4C4;
    --secondaryColourPage: #815D00;
    --tercearyColourPage: #9A9A9A;
    --blackColor: #000000;
    --darkColor: #1a1a1a;
    --whiteColor: #ffffff;
    --primaryColourBtn: FFB800;
    --secondaryColourBtn: 815D00;
    --shadowColourBtn: rgba(0, 0, 0, 0.05);
}

body {
    font-family: 'Titillium Web', sans-serif;
}


/* //////////////
   Nav
//////////////*/
.logo {
    max-width: 180px;
    max-height: 160px;
    margin-bottom: 14px;
}

.nav-link {
    color: var(--tercearyColourPage);
    font-size: 1.2rem;
    line-height: 37px;
    display: block;
    padding: .5rem 1rem;
}

.nav-link:hover {
    color: var(--whiteColor);
    background: var(--tercearyColourPage);
    border-radius: 5px;
}

.nav-item .btn-planes:hover {
    background: var(--secondaryColourPage);
    color: var(--whiteColor);
}

.navbar-toggler:focus {
    outline: none;
}

.navbar {
    background-color: var(--whiteColor);
    box-shadow: 0 2px 4px 0 var(--shadowColourBtn);
}

.navbar-nav .btn-planes {
    font-weight: bold;
    color: var(--secondaryColourPage);
}

.contenedor-principal{
    background-image: url(../assets/img/fondo-cards.png);
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-contact {
    background-color: var(--primaryColourPage);
    opacity: 0.35;
    height: 500px;
}

.texto {
    margin-top: 10px;
    background: #9A9A9A;
    height: 680px;
}

/* //////////////
   Footer
//////////////*/

footer {
    margin-top: 1%;
    padding: 10px;
    /* text-align: center; */
    color: var(--whiteColor);
    background: var(--darkColor);
}

footer .list-inline .list-inline-item {
    padding: 0px 10px;
}

footer .contenedor-nosotros {
    box-shadow: 0px 1px 0px 0px #FFFFFF;
}

footer .contenedor-copy-redes {
   margin-top: 1%;
   align-items: center;
}

/* //////////////
   Media queries
//////////////*/

@media (max-width: 575.98px) {}

@media (max-width: 767.98px) { 

    footer .contenedor-contacto, footer .contenedor-copy-redes {
        text-align: center;
    }
    footer .contenedor-copy-redes {
        font-size: 0.9rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    footer .contenedor-contacto {
        font-size: 0.9rem;
    }
}