/* //////////////
   Variables
//////////////*/

:root {
    --primaryColourPage:#C4C4C4;
    --secondaryColourPage: #815D00;
    --tercearyColourPage: #9A9A9A;
    --light-grey-color: #f5f5f5;
    --blackColor: #000000;
    --darkColor: #1a1a1a;
    --whiteColor: #ffffff;
    --primaryColourBtn: FFB800;
    --secondaryColourBtn: 815D00;
    --shadowColourBtn: rgba(0, 0, 0, 0.05);
}

.bgLightGrey { background-color: var(--light-grey-color); }

body {
    font-family: 'Titillium Web', sans-serif;
}

a {
    color: var(--darkColor);
}

.mensaje-error{
    color: red;

}

.btn-alert {
    background-color: #F8AC30;
    border-color: #F8AC30;
}

.icon-nav{
    margin-top: -10px;
    width: 24px;
}

textarea {
    resize: none;
}

.font-size {
    font-size: 1.3rem;
}
/* //////////////
   Nav
//////////////*/
.logo {
    max-width: 180px;
    max-height: 160px;
    margin-bottom: 14px;
}

.nav-link {
    color: var(--tercearyColourPage);
    font-size: 1.2rem;
    line-height: 37px;
    display: block;
    padding: .5rem 1rem;
    cursor: pointer;
}

.nav-link:hover {
    color: var(--whiteColor);
    background: var(--tercearyColourPage);
    border-radius: 5px;
}

.nav-item .btn-planes:hover {
    background: var(--secondaryColourPage);
    color: var(--whiteColor);
}

.navbar-toggler:focus {
    outline: none;
}

.navbar {
    background-color: var(--whiteColor);
    box-shadow: 0 2px 4px 0 var(--shadowColourBtn);
}

.navbar-nav .btn-planes {
    font-weight: bold;
    color: var(--secondaryColourPage);
}

/* //////////////
   Banner con form
//////////////*/

.contenedor-principal{
    background-image: url(../assets/img/fondo-cards.png);
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: center;
}

.card-form-head{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    background-color: var(--blackColor);
    opacity: 0.9;
    min-height: 180px;
}

.card-form-head p{
    margin-top: 1rem;
}

.tittle-card-form{
    font-size: 1.9rem;
    color: var(--whiteColor);
}

.tittle-card-form .text {
    font-size: 2rem;
}

.tittle-card-form .tel {
    font-weight: bold;
    color: #F8AC30;
    font-size: 2.5rem;
}

.card-form-body{
    background-color: var(--primaryColourPage);
    min-height: 300px;
    align-items: center;
    opacity: 0.9;
    padding: 10px;
}

form .form-group input, form .form-group textarea {
   font-size: 1.3rem;
}

form .btn {
    color: var(--darkColor);
    font-weight: bold;
}

form .btn:hover {
    color: var(--whiteColor);
}

.list-beneficios{
    padding-left: 3px;
    list-style:none;
}

.item-list-beneficio{
    color: var(--whiteColor);
    line-height: 50px; 
}

/* //////////////
   Functioning
//////////////*/

.content-center h2 {
    /* font-weight: bold; */
    text-align: center;
    font-size: 48px;
}

.content-center .functioning-card .icon{
    min-height: 90px;
}

.background-gray {
    background: var(--primaryColourPage);
}

/* //////////////
   Service
//////////////*/

section .service {
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.05);
}


/* //////////////
   Planes
//////////////*/

.card-plan-head{
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: var(--tercearyColourPage);
    min-height: 150px;
    box-shadow: 2px 2px 1px RGBA(0, 0, 0, 0.7);
}

.tittle-card-plan{
    font-size: 1.9rem;
    color: var(--whiteColor);
}

.card-plan-body{
    background-color: var(--primaryColourPage);
    min-height: 300px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 1px RGBA(0, 0, 0, 0.7);
}

button.btn.btn-alert.col-12.btn-contratar:hover{
    background-color:  RGBA(0, 0, 0, 0.7);
}

.list-beneficios{
    padding-left: 3px;
    width: 100%;
    list-style:none;
}

.item-list-beneficio{
    color: var(--whiteColor);
    line-height: 50px; 
}

.card-plan-head-premium{
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: var(--secondaryColourPage);
    min-height: 150px;
    box-shadow: 2px 2px 1px RGBA(0, 0, 0, 0.7);
}

.card-plan-body-premium{
    background-color: var(--blackColor);
    min-height: 300px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 1px RGBA(0, 0, 0, 0.7);
}

.border-grey-services{
    box-shadow:1px 2px 3px grey;
}

.border-grey-services:hover{
    box-shadow:1px 2px 3px orange;
}

.img-planes-responsive{
    max-height: 235px;
}
/* //////////////
   Footer
//////////////*/

footer {
    margin-top: 1%;
    color: var(--whiteColor);
    background: var(--darkColor);
}

footer .list-inline .list-inline-item {
    padding: 0px 10px;
}

footer .contenedor-copy-redes {
   margin-top: 1%;
   align-items: center;
}

footer .nav-footer p a{
    color: var(--whiteColor);
}

/* //////////////
   Media queries
//////////////*/

@media (max-width: 767.98px) { 
    .content-center .row, footer .contenedor-nosotros {
        margin: 0;
    }

    .tittle-card-form .tel{
        font-size: 2.4rem;
    }

    footer .contenedor-contacto, footer .contenedor-copy-redes {
        text-align: center;
    }
    
    footer .contenedor-copy-redes {
        font-size: 0.9rem;
    }

    .row .service-card {
        margin-bottom: 10%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    footer .contenedor-contacto {
        font-size: 0.9rem;
    }
}

@media (min-width: 1760px) {
    .img-planes-responsive{
       display: none !important;
    }
}