:root {
    --primaryColourPage:#C4C4C4;
    --secondaryColourPage: #815D00;
    --tercearyColourPage: #9A9A9A;
    --blackColor: #000000;;
    --whiteColor: #ffffff;
    --primaryColourBtn: FFB800;
    --secondaryColourBtn: 815D00;
    --shadowColourBtn: rgba(0, 0, 0, 0.05);
}

body {
    font-family: 'Titillium Web', sans-serif;
}

.logo {
    max-width: 180px;
    max-height: 160px;
    margin-bottom: 14px;
}

.nav-link {
    color: var(--tercearyColourPage);
    font-size: 25px;
    line-height: 37px;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar {
    background-color: var(--whiteColor);
    box-shadow: 0 2px 4px 0 var(--shadowColourBtn);
}

.navbar-nav .btn-planes {
    font-weight: bold;
    color: var(--secondaryColourPage);
}

.contenedor-principal{
    background-image: url(/img/fondo-cards.png);
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-contact {
    background-color: var(--primaryColourPage);
    opacity: 0.35;
    height: 500px;
}