.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  	font-size:30px;
	box-shadow: 2px 2px 3px  rgba(0, 0, 0, 1.09);
	z-index:100;
	transition: 0.2s all;
	animation: WApulse 2s infinite;
}

.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

@keyframes WApulse {
	0% {
	  box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.7);
	}
	70% {
	  box-shadow: 0 0 0 30px rgba(37, 211, 102, 0);
	}
	100% {
	  box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
	}
  }